UID=1000
GID=1000

POSTGRES_PASSWORD=abcd
MONITOR_PASSWORD=abcd
REPLICATION_PASSWORD=abcd

DATABASE_PORT=5432
MONITOR_PORT=5433
CLUSTER_PORT=5434

DATABASE_IPS="10.103.0.2/32 10.104.0.3/32"
MONITOR_IPS="10.103.0.1/32"
CLUSTER_IPS="10.103.0.4/32 10.104.0.5/32"
